<% provide(:title, 'Quotes from the Classics') %>

<h1>Calvin and Hobbes Quotes</h1>

<div class="text-center">
  <p><%= @quote["quote"] %></p>
  </br>
  <div class="form-button">
    <%= link_to "Next", random_path, class: "btn btn-large btn-hobbes" %>
    <% if signed_in? %>
      <%= link_to "Save", quotes_path(quote: { content: @quote["quote"], 
          source: @quote["source"], ihq_id: @quote["link"]}), method: :post, 
          class: "btn btn-large btn-hobbes" %>
    <% else %>
      <%= link_to "Save", signin_path, class: "btn btn-large btn-hobbes" %>
    <% end %>
  </div>
  </br>
</div>

<div class="text-center">
  <%= image_tag "http://i.imgur.com/oyD8WDx.jpg?2" %>
</div>