<%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-input", autofocus: true %>

    <%= f.label :email %>
    <%= f.text_field :email, class: "form-input" %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-input" %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: "form-input" %>

    <%= f.label :phone, "Phone Number" %>
    <%= f.telephone_field :phone, class: "form-input" %>
    </br>
    
    <%= f.submit "Create my account", class: "btn btn-sm btn-primary btn-block" %>
<% end %>

<p>Already a user? <%= link_to "Sign in!", signin_path %></p>
